# PhpStorm project files
.idea

# NetBeans project files
nbproject

# Windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

# WP Root files
*.log
/index.php
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config.php
/wp-config-sample.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php

/LICENSE
/license.txt
/licenza.html
/readme.html
/sitemap.xml
/sitemap.xml.gz

# WP files
wp-admin/
wp-includes/

# WP Content Files
wp-content/ai1wm-backups/*
wp-content/backup-db/*
wp-content/backups/*
wp-content/cache/*
wp-content/languages/themes/twentyfifteen-it_IT.po
wp-content/languages/themes/twentyseventeen-it_IT.po
wp-content/languages/themes/twentysixteen-it_IT.po
wp-content/mu-plugins/
wp-content/plugins/gogodigital-joomla-to-wordpress/
wp-content/plugins/hello.php
wp-content/upgrade/*
wp-content/wflogs/*
wp-content/wp-cache-config.php

# WP Included
!wp-content/ai1wm-backups/.htaccess
!wp-content/ai1wm-backups/index.php
!wp-content/ai1wm-backups/web.config
!wp-content/cache/index.html
!wp-content/languages/
!wp-content/languages/
!wp-content/themes/storefront/
!wp-content/themes/storefront-child/
!wp-content/themes/shapely/
!wp-content/themes/shapely-child/
!wp-content/themes/wp-bootstrap-starter/
!wp-content/themes/wp-bootstrap-starter-child/
