# PhpStorm project files
.idea

# NetBeans project files
nbproject

# Windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

# WP Root files
*.log
/index.php
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config.php
/wp-config-sample.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php

/license.txt
/licenza.html
/readme.html
/sitemap.xml
/sitemap.xml.gz

# WP files
wp-admin/
wp-includes/

# WP Content Files
wp-content/languages/themes/twentyfifteen-it_IT.po
wp-content/languages/themes/twentyseventeen-it_IT.po
wp-content/languages/themes/twentysixteen-it_IT.po
wp-content/mu-plugins/
wp-content/plugins/hello.php
wp-content/themes/twentyfifteen/
wp-content/themes/twentyseventeen/
wp-content/themes/twentysixteen/
wp-content/upgrade/
wp-content/wp-cache-config.php

# WP Included
!wp-content/languages/
!wp-content/themes/shapely/
!wp-content/themes/shapely-child/
!wp-content/themes/wp-bootstrap-starter/
!wp-content/themes/wp-bootstrap-starter-child/